body {
    background-color: tan;
    margin: 0px;
  }
  
  .header {
      background-color: yellowgreen;
      text-align: center;
  }


  
  .door-frame {
      cursor: pointer;
      padding: 10px;
  }